<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.cds.mapper.CourseInfoMapper">

	<insert id="insertCourseInfo">
		INSERT INTO travel_course (content_id, title, addr1, addr2, area_code,
		book_tour, cat1, cat2, cat3, content_type_id, created_time,
		first_image, first_image2, cpyrht_Div_Cd, map_x, map_y, m_level,
		modified_time, sigungu_code, tel, zipcode)
		VALUES (#{contentid}, #{title}, #{addr1}, #{addr2}, #{areacode},
		#{booktour}, #{cat1}, #{cat2}, #{cat3}, #{contenttypeid},
		#{createdtime},
		#{firstimage}, #{firstimage2}, #{cpyrhtDivCd}, #{mapx}, #{mapy}, #{mlevel},
		#{modifiedtime}, #{sigungucode}, #{tel}, #{zipcode});
	</insert>

	<select id="selectTitleAndContentId" resultType="map">
		SELECT title, content_id
		FROM travel_course
	</select>

	<update id="updateOverview">
		UPDATE travel_course
		SET overview = #{overview}
		WHERE content_id = #{contentId} and content_type_id = "25"
	</update>

	<select id="getCoursesByRegion"
		resultType="com.human.cds.vo.CourseInfoDTO$Item">
		SELECT title, first_image, content_id
		FROM travel_course
		WHERE area_code = #{areaCode}
	</select>
</mapper>



