<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.cds.mapper.MypageMapper">
	<!-- id는 dao에서 sql.session뒤에 .뭐시기 그거랑 맞춰야함  -->
	
	<select id="getDestinationList" resultType="DestinationDBVO">
		select * from destination
	</select>
	
	<!-- 업데이트는 parameterType(보내는값)  -->
	<update id="updateMyInfo" parameterType="MemberVO">
		update member 
		set password = #{password},
			phone = #{phone},
			birth_date = #{birth_date}
		where m_id = #{m_id}
	</update>
	
	<update id="cancel" parameterType="_int">
		update member 
		set withdrawal_request = 'Y'
		where m_id = #{m_id}
	</update>
	
</mapper>



