<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.cds.mapper.SupportMapper">
<!-- namespace: XML 파일에서 내용의 구분을 위해서 사용 -->

	<select id="getNoticeList" resultType="SupportVO">
		select * from support
			where s_category = 'notice' and s_status = 'N'
			order by s_idx desc
	</select>
	
	<select id="getGuideList" resultType="SupportVO">
		select * from support
			where s_category = 'guide' and s_status = 'N'
			order by s_idx desc
	</select>
	
	<select id="getQuestionList" resultType="SupportVO">
		select * from support
			where s_category = 'question' and s_status = 'N'
			order by s_idx desc
	</select>
	
	<select id="getSupportList" resultType="SupportVO">
		select * from support
			where s_status = 'N'
			order by s_idx desc
	</select>
	
	<insert id="insertSupport" parameterType="SupportVO">
		insert into support (s_writer, s_category, s_title, s_content)
			values (#{s_writer}, #{s_category}, #{s_title}, #{s_content})
	</insert>
	
	<select id="getsupport" resultType="SupportVO">
		select * from support
			where s_idx = #{s_idx}
	</select>
	
	<update id="updateSupport" parameterType="SupportVO">
		update support
			set s_category = #{s_category}, s_title = #{s_title}, s_content = #{s_content}, update_date = now()
			where s_idx = #{s_idx}
	</update>
	
	<update id="deleteSupport">
		update support
			set s_status = 'Y', update_date = now()
			where s_idx = #{s_idx}
	</update>
		
</mapper>
