<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.cds.mapper.SupportMapper">
<!-- namespace: XML 파일에서 내용의 구분을 위해서 사용 -->

	<select id="getNoticeList" resultType="SupportVO">
		select * from support
			where s_category = 'notice'
			order by s_idx desc
	</select>
	
	<select id="getGuideList" resultType="SupportVO">
		select * from support
			where s_category = 'guide'
			order by s_idx desc
	</select>
	
	<select id="getQuestionList" resultType="SupportVO">
		select * from support
			where s_category = 'question'
			order by s_idx desc
	</select>
		
</mapper>
