@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}
button{
    border: none;
    background-color: #fff0;
    cursor: pointer;
}

/* 메인화면 헤더 : header.jsp */
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff0;
    border-bottom: 1px solid #ccc;
    /* position: fixed; */
}
header>.headerLogo {
    margin: 0;
}
header>.headerLogo>img {
    height: 80px;
}
header>.pageLink {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px 0;
}
header>.pageLink>div {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}
header>.pageLink>div:hover {
    color: #87bee5;
}
header>.log-login-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
header>.log-login-btn>img {
    height: 30px; /* 프로필 이미지 높이 설정 */
}   

/* 메인화면 중간 : section.jsp */
#mainSection{
    width: 100%;
    height: max-content;
}
#mainSection>.mainTop{
	width: 100%;
	height: 600px;
    background: url("../img/mainTopbackimg.png") no-repeat center center;
    background-size: cover;
    display: flex;
    padding: 13% 0px 0px 4%;
}
#mainSection>.mainTop>.topIntro{ /* 떠나자 간단소개 */
    width: 38%;
    margin-top: 10%;
}
#mainSection>.mainTop>.topIntro>h2{
    color: #fff;
    font-size: 30px;
}
#mainSection>.mainTop>.topIntro>h2>span{
	color: #fff;
	font-size: 45px;
}
#mainSection>.mainTop>.topIntro>button{
    background-color: #87bee585;
    color: #fff;
    font-size: 20px;
    padding: 2%;
    border-radius: 10px;
    margin-left: 2%;
}
#mainSection>.mainTop>.topIntro>button>i{
	color:#fff;
}
#mainSection>.mainTop>.imgSlider{ /* 지역코드별 관광지 */
	width:65%;
}
#mainSection>.mainTop>.imgSlider>.imgContainer>.imgList{
	display: flex;
}
#mainSection>.mainTop>.imgSlider>.imgContainer>.imgList>.imgItem{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainSection>.mainTop>.imgSlider>.imgButton>button>i{ /* 슬라이드 버튼 */
	color: #fff;
    font-size: 25px;
    margin-top: 5px;
}
#mainSection>.mainCategory{ /* 여행자 이용 서비스 */
    padding: 0px 4%;
    background: url("../img/mainMidbackimg.png") no-repeat center center;
    background-size: cover;
    margin: 40px 0px;
}
#mainSection>.mainCategory>.cateIntro>div{
	display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 0.5%;
}
#mainSection>.mainCategory>.cateIntro>h1{
	margin: 5px 0px;
}
#mainSection>.mainCategory>.cateSelect{
	background-color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 2%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainSection>.mainCategory>.cateSelect>.selectBox{
	width: 35%;
	display: flex;
	justify-content: space-between;
}
#mainSection>.mainCategory>.cateSelect>.selectBox>button{
	border: solid 1px #969696;
    padding: 2px 10px;
    border-radius: 15px;
    margin: 0px 2%;
    font-size: 16px;
}
#mainSection>.mainCategory>.cateSelect>.imgBox{
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
#mainSection>.mainCategory>.cateSelect>.imgBox>img{
	width: 33%;
	height: 200px;
	background-color: #555;
}
#mainSection>.mainReview{
	
}