@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #62b2eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

a:hover {
    background-color: #87bee5;
}

/* 추가적인 여백 조정 */
.container {
    padding-bottom: 30px; /* 하단 여백 추가 */
}
